<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../layout/head')%>
</head>
<body>
  <header>
    <h1>Best Books!</h1>
  </header>
  <main>
    <% bookArr.forEach(b=> { %>
      <div class="book-container">
          <img src=<%= b.Image%>>
          <h2 class="book-title"><%= b.Book_Title%></h2>
          <p class="book-author"><%= b.Author_Name%></p>
          <p class="book-desc"><%= b.Description%></p>
          <button>Select this Book</button>
          </div>
    <% }) %>  
  
  </main>
</body>
</html>